chat-flow {
  display: block;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-height: 52.5dvh;
  max-height: 65vh;
}

@media (max-width: 759px) {
  chat-flow {
    min-height: 60dvh;
    max-height: 70dvh;
  }
}

/* Placeholder for when chat is empty */
chat-flow img.placeholder {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  min-width: 15ch;
  min-height: 15ch;
  width: 66%;
  object-fit: contain;
}

@media (max-width: 759px) {
  chat-flow img.placeholder { 
    width: 30ch;
    min-width: 10ch;
    min-height: 10ch;
  }
}
