chat-bubble {
  display: block;
  width: fit-content;
  max-width: 80%;
  margin-left: auto;
  background-color: var(--background-);
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
  line-height: 1.5rem;
  position: relative;
  line-break: loose;
}

chat-bubble::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top: 0rem;
  right: -1rem;
  border-left: 0.75rem solid var(--background-);
  border-right: 0.75rem solid transparent;
  border-top: 0.75rem solid var(--background-);
  border-bottom: 0.75rem solid transparent;
}

chat-bubble .actor {
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.5rem;
  color: var(--color--);
}

chat-bubble code {
  display: block;
  padding: 1rem;
  background-color: var(--background);
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

chat-bubble .actions button {
  background-color: transparent;
  color: var(--color);
  text-decoration: underline;
  font-weight: normal;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

chat-bubble .actions button:hover {
  color: var(--color-);
  text-decoration: none;
}

chat-bubble .actions button:disabled {
  background-color: transparent;
  color: var(--color--);
  text-decoration: none;
}

chat-bubble[type="user"] {
  margin-left: unset;
  margin-right: auto;
  background-color: var(--color);
  color: var(--background);
  margin-right: unset;
  margin-left: 1rem;
}

chat-bubble[type="user"]::before {
  right: unset;
  left: -1rem;
  border-top-color: var(--color);
  border-left-color: var(--color);
  rotate: 90deg;
}

chat-bubble[type="ai"] .text {
  white-space: pre-line;
}

chat-bubble[type="sources"] .text {
  margin-bottom: 1rem;
}

chat-bubble[type="sources"] .actor span {
  text-transform: capitalize;
}

chat-bubble[type="sources"] .text * {
  display: block;
}
